*{
   margin: 0;
   padding: 0;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
   font-family: "Helvetica Neue", Arial, serif;
}

.wrapper{
   width: 1216px;
   height: 1062px;
   margin: 0 auto;
}

.menu{
  position: relative;
  height: 36px;
  width: 1215px;
  background: url(../img/noise.png);
}

.top_right_menu{
   display: block;
   list-style: none;
   margin-right: 10px;
}

.list1{
   display: block;
   float: right;
}

.list1 a{
   display: block;
   line-height: 36px;
   text-decoration: none;
   color: #fff;
   padding: 0 10px;
}

.line{
   float: right;
   background: url(../img/line.png) repeat-y;
   height: 32px;
   width: 1px;
   margin: 2px 8px;
}

.flag {
   float: right;
   margin-top: 6px;
}

.top_menu{
   display: block;
   list-style: none;

}

.list2{
  display: inline-block;
  float: right;
   line-height: 36px;
}

.list2 a:hover{
   background-color: #4eabda;
   color: #ffffff;
   font-weight: 500;
}

.list2 a{
  display: block;
   font-size: 14px;
  text-decoration: none;
  padding: 0 15px;
   color: #60b5ed;
}

.content{
   position: relative;
   width: 1216px;
   height: 1026px;
   background: url(../img/background.png) 0 0 no-repeat;
}

.window {
   position: absolute;
   top: 10px;
   right: 0;
   bottom: 0;
   left: 50px;
   height: 614px;
   width: 560px;
   margin: auto;
}

.top_window{
   height: 62px;
   width: 560px;
   background-color: rgba(15, 15, 15, 0.8);
   color: #ffffff;
   font-size: 24px;
   line-height: 62px;
}

.top_window p{
   text-align: center;
}

.bottom_window{
   position: relative;
   height: 551px;
   width: 560px;
   margin-top: 2px;
   background-color: rgba(15, 15, 15, 0.8);
}

.facebk{
   position: absolute;
   width: 257px;
   height: 34px;
   top: 38px;
   left: 151px;
   background: rgba(63,87,147,1);
   background: -moz-linear-gradient(top, rgba(63,87,147,1) 0%, rgba(50,80,146,1) 50%, rgba(50,80,146,1) 51%, rgba(50,72,132,1) 71%, rgba(55,65,101,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(63,87,147,1)), color-stop(50%, rgba(50,80,146,1)), color-stop(51%, rgba(50,80,146,1)), color-stop(71%, rgba(50,72,132,1)), color-stop(100%, rgba(55,65,101,1)));
   background: -webkit-linear-gradient(top, rgba(63,87,147,1) 0%, rgba(50,80,146,1) 50%, rgba(50,80,146,1) 51%, rgba(50,72,132,1) 71%, rgba(55,65,101,1) 100%);
   background: -o-linear-gradient(top, rgba(63,87,147,1) 0%, rgba(50,80,146,1) 50%, rgba(50,80,146,1) 51%, rgba(50,72,132,1) 71%, rgba(55,65,101,1) 100%);
   background: -ms-linear-gradient(top, rgba(63,87,147,1) 0%, rgba(50,80,146,1) 50%, rgba(50,80,146,1) 51%, rgba(50,72,132,1) 71%, rgba(55,65,101,1) 100%);
   background: linear-gradient(to bottom, rgba(63,87,147,1) 0%, rgba(50,80,146,1) 50%, rgba(50,80,146,1) 51%, rgba(50,72,132,1) 71%, rgba(55,65,101,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5793', endColorstr='#374165', GradientType=0 );
   border-top: 1px solid #7788b4;
}

.facebk a{
   line-height: 34px;
   font-size: 14px;
   text-align: center;
}

a img{
   border-right: 1px solid #1f3d71;
}

input{
   border: 0px;
   font-family: "Helvetica Neue", Arial, serif;
   color: white;
   font-size: 14px;
}

input:hover{
   background-color: #1b5288;
   border-bottom: 1px solid #689bcc;
   -webkit-box-shadow: 0px 0px 10px 2px rgba(96,154,198,1);
   -moz-box-shadow: 0px 0px 10px 2px rgba(96,154,198,1);
   box-shadow: 0px 0px 10px 2px rgba(96,154,198,1);
}

form{
   text-align: center;
}
.name_top{
   width: 236px;
   height: 35px;
   margin-bottom: 20px;
   padding-left: 20px;
   background-color: #0f0f0f;
   border-bottom: 1px solid grey;
   margin-top:145px;
}

.name{
   width: 236px;
   height: 35px;
   margin-bottom: 20px;
   padding-left: 20px;
   background-color: #0f0f0f;
   border-bottom: 1px solid grey;
}

.submit{
   width: 151px;
   height: 35px;
   background: rgba(80,175,219,1);
   background: -moz-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,175,219,1)), color-stop(0%, rgba(80,175,219,1)), color-stop(100%, rgba(46,121,196,1)));
   background: -webkit-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
   background: -o-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
   background: -ms-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
   background: linear-gradient(to bottom, rgba(80,175,219,1) 0%, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50afdb', endColorstr='#2e79c4', GradientType=0 );
   color: white;
   margin-top: 22px;
   -webkit-box-shadow: 0px 0px 2px 1px rgba(107,184,231,1);
   -moz-box-shadow: 0px 0px 2px 1px rgba(107,184,231,1);
   box-shadow: 0px 0px 2px 1px rgba(107,184,231,1);
   border-radius: 2px;
}

.chk{

}

.s{
   vertical-align: middle;
   text-align: left;
   margin-left: -30px;
}

label{
   font-size: 14px;
   line-height: 14px;
   color: white;
}

.bottom_text{
   margin-top: 16px;
   text-align: center;
   font-size: 11px;
   color: #ffffff;
}
