* {
  margin: 0;
  padding: 0;
}

#body{
  width: 1060px;
}

.header{
  width: 966px;
  margin-left: 46px;
  padding-top: 50px;
  padding-bottom: 40px;
  border: 1px solid black;
}

/*Top menu*/
.ul{
  margin-left: 46px;
}

li{
  display: inline-block;
  padding: 14px 0 14px 24px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  background: linear-gradient(to top, #454444, #5e5e5e)
}

li:first-child{
  padding-right: 65px;
}

li:nth-child(2){
  padding-right: 24px;
}

li:nth-child(3){
  padding: 14px 65px 14px 65px;
}

li:nth-child(4){
  position: absolute;
  width: 462px;
}

a{
  padding: auto;
  text-decoration: none;
  color: white;
}

.ul li a:hover{
  color: white;
  background-color: black;
}

.ul li a:active{
  color: white;
  background-color: black;
}

/*Content*/
.content{
  margin-left: 46px;
  width: 966px;
  height: 680px;
  border: 1px solid black;
}
/*Footer*/
#ul{
  margin-left: 46px;
}

#ul li{
    display: inline-block;
    padding: 14px 0 14px 24px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    background-image: url("img/grey.jpg");
  }
