* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
  width: 1060px;
  margin: auto;
}

#full	{
  clear: both;
  height: 966px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.head_top{
  width: 966px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: 46px;
}

/*Top menu*/

.top_menu {
    width:966px;
  	background: linear-gradient(to top, #454444, #5e5e5e);
  	height:40px;
  	margin-left: 46px;
	}

.top_menu li{
  display: inline-block;
  float: left;
  line-height: 40px;
}

.top_menu li a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 0 30px;
}

.top_menu li:hover{
    color: white;
    background-color: black;
}


.top_menu li:active{
    color: white;
    background-color: black;
}

/*Content*/
.content_middle{
    margin-left: 46px;
    width: 966px;
    height: 680px;
}

/*Sidebar*/
.sidebar {
    float: left;
    margin-top: 40px;
}

#sidemenu{
    width: 240px;
    height: 240px;
    list-style: none;
}

#sidemenu a {
      display: block;
      font-size: 14px;
      border: 1px solid #c8c8c8;
      padding-left: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: -1px;
      color: black;
      text-decoration: none;
  }

  #sidemenu a:hover {
        display: block;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #c8c8c8;
        padding-left: 40px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: -1px;
        color: black;
        text-decoration: none;
    }

/*Pecture+Text*/
.picture {
    float: right;
    margin-top: 40px;
    border: 1px solid #c8c8c8;
}

.text {
    width: 635px;
    height: 160px;
    margin-top: 40px;
    padding-right: 10px;
    float: right;
    font-size: 12px;
    line-height: 18px;
}


/*Footer*/
.menu_footerul{
     background-image: url(../img/grey.png);
     width:966px;
     height:40px;
     margin-left: 46px;
}

.menu_footerul li{
    display: inline-block;
    /*padding: 14px 0 14px 24px;*/
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;

}

.menu_footerul li:first-child a{
    padding: 10px 65px 11px 24px;
    text-decoration: none;
    color: black;
    display:block;
}

.menu_footerul li:nth-child(2) a{
    padding: 10px 24px 11px 24px;
    text-decoration: none;
    color: black;
    display:block;
}

.menu_footerul li:nth-child(3) a{
    padding: 10px 65px 11px 65px;
    text-decoration: none;
    color: black;
    display:block;
}

.menu_footerul li:nth-child(4) a{
    padding: 10px 65px 11px 24px;
    text-decoration: none;
    color: black;
    display:block;
}

.copyright {
    text-align:right;
    margin-right:25px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
}

.menu_footerul li a:hover{
    text-decoration: underline;
}

.menu_footerul li a:active{
    color: white;
    background-color: black;
}
