*{
   margin: 0;
   padding: 0;
}

body {
   background-image: url(../img/background.png);
   font-family: Tahoma;

}

.copyright{
   font-size: 12px;*/
}

.wrapper{
   width: 1024px;
   margin: 0 auto;
}

.header{
   position: relative;
   height: 175px;
   background-color: white;
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.textlogo{
   position: absolute;
   top: 100px;
   left: 70px;
   color: #128aa7;
   font-size: 12px;
}

.logo{
   position: absolute;
   left: 0;
   bottom: -3px;
   margin-left: 25px;
}

.contacts{
   position: absolute;
   top: 12px;
   right: 30px;
}

.contacts p{
   padding: 1px;
   color: #128aa7;
   font-size: 12px;
}

#contact{
   font-weight: bold;
}

.header ul{
   position: absolute;
   right: 20px;
   bottom: 10px;
   text-decoration: none;
   list-style: none;
}

.header ul li{
   float: right;
   margin-right: 5px;
}

.header li a{
   display: block;
   width: 54px;
   height: 56px;
   font-size: 10px;
   text-align: center;


}

.adv{
   position: relative;
   height: 235px;
   background: url(../img/photo.png) 100% 100%;
   background-size: cover;
   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
   z-index: 11;
}

.line{
   height: 1px;
	background-color: #128aa7;
   z-index: 12;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

.menu{
   position: relative;
   height: 30px;
   background: rgba(55,55,55,1);
   background: -moz-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,55,55,1)), color-stop(100%, rgba(48,48,48,1)));
   background: -webkit-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
   background: -o-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
   background: -ms-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
   background: linear-gradient(to bottom, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030', GradientType=0 );
   border-bottom: 1px solid #000;
   border-top: 1px solid #cacbcb;
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   z-index: 10;
}

.listmenu{
   position: relative;
   list-style: none;
   float: left;
}

.listmenu a{
   position: relative;
   display: block;
   text-decoration: none;
   line-height: 30px;
   font-size: 14px;
   color: white;
   padding: 0 40px;
}

.menu ul+a:after{
   content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 30px;
  height: 6px;
  width: 5px;
  background: url(../img/whitetriangle.png) 0 0 no-repeat;
}

.droplist{
  display: none;
  list-style: none;
  position: absolute;
  left: 30px;
  z-index: 8;
}

.listmenu:hover ul{
   display: block;
   top: 100%;
   margin-top: 1px;
   box-shadow: 1px 7px 6px 3px rgba(0,0,0,0.75);
}

.dropline{
  background: #303030;
}

.droplist a{
   display: block;
   width: 120px;
   padding: 0 10px;
}

/*Способ с паддингм 2000*/
.content{
   position: relative;
   width: 1024px;
   line-height: 22px;
   overflow: hidden;
   box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
   z-index: 5;
}

.left{
   width: 204px;
   float: left;
   padding-left: 10px;
   background: #edeef0;
   border-left: 1px solid #c7cacf;
   padding-bottom: 20000px;
   margin-bottom: -20000px;
}

.center{
   width: 571px;
   float: left;
   background: #ffffff;
   padding-bottom: 20000px;
   margin-bottom: -20000px;
}

.right{
   width: 229px;
   padding-left: 10px;
   float: right;
   background: #edeef0;
   border-right: 1px solid #c7cacf;
   padding-bottom: 20000px;
   margin-bottom: -20000px;
}

/*Способ с фоновым рисунком*/
/*.content{
   position: relative;
   height: 500px;
   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

}


.fon {
   width: 1024px;
   height: 534px;
   background: url(../img/content.png) repeat-y;
   float: left;
   z-index: 5;
}

.leftColumn {
   width: 209px;
   float: left;
   padding-left: 10px;
}

.centerColumn {
   width: 581px;
   float: left;
}

.rightColumn {
   width: 225px;
   float: right;
}*/

h3{
   text-align:center;
   margin-top: 5px;
}

.footer{
   text-align: center;
   line-height: 34px;
   background-color: #0c739f;
   font-family: Tahoma;
   font-size: 12px;
   color: white;
   z-index: 1;
}
