.name {
width: 514px;
height: 760px;
}

h1 {
	text-align: center;
	 margin-top:58px;
}

.photo {
	text-align: center;
}

ul {
	font-family:Times;
	 font-size:14px;
	 margin-left:40px;
	 margin-top:20px;
}

.stylish {
	margin-top: 20px;
	font-family:Times;
	font-size:14px;
	margin-left:56px;
}

.stylish p {
	padding-bottom: 15px;
}

#mini {
	font-family:Times;
	font-size:14px;
	margin-left:56px;
}

.line {
	height: 1px;
	background-color: #7a7a7a;
	margin:0 auto;
	width:450px;
}
