*{
   margin: 0;
   padding: 0;
}

@font-face {
       font-family: 'league_gothicregular';
       src: url('../fonts/leaguegothic-regular-webfont.eot');
       src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
            url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
            url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;

}

.wrapper{
   font-family: 'league_gothicregular' Arial sans-serif;
}

.header{
   position: relative;
   height: 515px;
   background: url(../img/header.png) 0 0 no-repeat;

}

.header__logo{
   margin: auto;
   position: absolute;
   top: 70px;
   left: 0;
   bottom: 0;
   right: 0;
}

.header__text{
   text-align: center;
}

.header__textpart1{
   line-height: 37px;
   font-size: 37px;
   color: white;
   text-shadow: 0px 1px 1px black;
}

.header__textpart2{
   line-height: 37px;
   font-size: 37px;
   padding-left: 0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #34263b;
   background-image: -webkit-linear-gradient(#745083, #34263b);
   background-image: -o-linear-gradient(transparent, transparent);
}

.menu{
   position: absolute;
   top: 70px;
   left: 0;
   bottom: 0;
   right: 0;
}

.menu__list{
   display: block;
   width: 244px;
   text-align: center;
   margin: 0 auto;
   background: rgba(72, 59, 79, 0.8);
   border: 1px solid black;
   border-radius: 7px;
}
.menu__button{
   display: block;
   list-style: none;
   line-height: 31px;
   border-top: 1px solid #503d58;
   border-bottom: 1px solid #36283e;

}

.menu__button--hover{
   display: none;
}

.menu__list:hover .menu__button{
   display: block;
}

.menu__link{
   display: block;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
