*{
   margin: 0;
   padding: 0;
}

@font-face {
       font-family: 'league_gothicregular';
       src: url('../fonts/leaguegothic-regular-webfont.eot');
       src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
            url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
            url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;

}

.wrapper{
   font-family: 'league_gothicregular' Arial sans-serif;
}

.header{
   position: relative;
   height: 515px;
   background: url(../img/header.png) 0 0 no-repeat;
   background-position: right -50px bottom 0px;
   clear: both;
}

.header__logo{
   margin: auto;
   position: absolute;
   top: 65px;
   left: 0;
   bottom: 0;
   right: 0;
}

.header__text{
   text-align: center;
}

.header__textpart1{
   line-height: 48px;
   font-size: 48px;
   color: white;
   text-shadow: 0px 1px 1px black;
}

.header__textpart2{
   line-height: 48px;
   font-size: 48px;
   padding-left: 0;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #34263b;
   background-image: -webkit-linear-gradient(#745083, #34263b);
   background-image: -o-linear-gradient(transparent, transparent);
}

.menu{
   position: absolute;
   top: 70px;
   left: 0;
   bottom: 0;
   right: 0;
   clear: both;
}

.menu__list{
   display: block;
   width: 244px;
   text-align: center;
   margin: 0 auto;
}

.menu__first_button{
   border-top: 2px solid transparent;
   line-height: 30px;
   font-size: 24px;
   list-style: none;
}

.menu__line{
   width: 47px;
   margin: 0 auto 3px auto;
   border-top: 1px solid #edbfff;
   border-bottom: 1px solid #edbfff; 
   text-align: center;
}

.menu__button{
   display: block;
   list-style: none;
   height: 33px;
   font-size: 24px;
   border-top: 1px solid #6a5272;
   border-bottom: 1px solid #36283e;

}

.menu__button--hover{
   display: none;
}

.menu__list:hover .menu__button{
   display: block;
   list-style: none;
   line-height: 31px;
   margin: 0 1px;
}

.menu__list:hover{
   position: relative;
   background: rgba(61, 48, 70, 0.8);
   border: 1px solid black;
   border-radius: 4px;
   z-index: 10;
}

.menu__list:hover .menu__first_button{
   margin: 0 2px;
   border-top: 1px solid #6a5272;
   border-bottom: 1px solid #36283e;
}

.menu__button:hover {
   height: 32px;
   background: rgba(45, 36, 50, 0.8);
   border-bottom: 2px solid #edbfff;
}

.menu__button:last-child:hover{
   height: 32px;
   background: rgba(45, 36, 50, 0.8);
   border-bottom: 2px solid #edbfff;
   margin-bottom: 1px;
}

.menu__link{
   display: block;
   text-decoration: none;
   color: white;
   font-size: 24px;
   text-shadow: 0px 0px 6px #FFFFFF;
}

.advertisement__button{
   float: left;
}