*{
	margin: 0;
	padding: 0;
}
body{
	width: 1300px;
	height: auto;
	background-color: #0f6830;
}

.header{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid black;
}

.form{
	margin-top: 20px;
}